[Coverage]
GridStep=3000
BoundPad=15000
MinX=0
MaxX=0
MinY=0
MaxY=0
FilterReachable=0
[Combat]
AggroRange=1450
FightRangeOut=3500
CombatRadius=500
CombatEndGraceMs=1500
SmartCast=1
SmartCastWeaponSets=1
LootPickup=1
LootRange=1500
[Travel]
HardMode=1
LastTarget=Current Map
PortalAggro=0
PortalPathCorridor=500
CaravanMapsAscalon=*
CaravanMapsMaguuma=*
CaravanMapsEOTN=*
CaravanMapsFactions=*
CaravanMapsNightfall=*
SkipVanquished=1
MapList_Proph_Kryta=*
MapList_Proph_NorthernShiverpeaks=*
MapList_Proph_CrystalDesert=*
MapList_Proph_SouthernShiverpeaks=*
MapList_Proph_RingOfFireIsland=*
MapList_Factions_ShingJeaIsland=*
MapList_Factions_KainengCity=*
MapList_Factions_EchovaldForest=*
MapList_Factions_TheJadeSea=*
MapList_EOTN_FarShiverpeaks=*
MapList_EOTN_CharrHomelands=*
MapList_EOTN_TarnishedCoast=*
[PathRoute]
ValidateVanquishAnchors=1
ValidatePortalAnchors=1
PortalJoinRecordedRoute=1
MaxValidateSegments=0
SimplifyRangeCoverage=500
SimplifyRangePortal=600
PathUpdateInterval=1000
ObstacleUpdateInterval=2500
ObstacleMode=0
ClearanceWeight=1.0
WaypointReachedCoverage=400
WaypointReachedPortal=400
ExpandMovement=1
ExpandSegmentDist=1500
ExpandSimplifyRange=450
ExpandHopMinDist=350
ExpandHopStride=2
FastTransit=1
ClickAhead=2000
[Log]
Directory=logs
CaravanLogStartMap=
