[Team4]
Hero1=Norgu
Hero2=Gwen
Hero3=Olias
[Team6]
Hero1=Norgu
Hero2=Goren
Hero3=Olias
Hero4=Master of Whispers
Hero5=Xandra
[Team8]
Hero1=Norgu
Hero2=Gwen
Hero3=Razah
Hero4=Master of Whispers
Hero5=Olias
Hero6=Livia
Hero7=Xandra
[General]
Character=Insert Character Name Here
